<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

   <div class="container m-5" >
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="elem, props: ${users}">
                <th scope="row" th:text="${elem.id}"></th>
                <td  th:text="${elem.firstName}">
                  <td  th:text="${elem.lastName}">
                  <td th:text="${elem.email}">
                  <td>
                    <a th:href="@{/users/{id}(id=${elem.id})}"> Modify</a>
                </td>
                </tr>
            </tbody>
          </table>
   </div>
</body>
</html>